
{% load base_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="application/javascript">
{#        $.ajaxSetup({#}
{#                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },#}
{#            });#}
        function show_annotation(file_id, line_num) {
            $.ajax({
              cache:false,
              type:"POST",
              url: '/operations/show_annotation/',
              data:{'file_id': file_id, 'line_num': line_num, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
              dataType: 'json',
              async: true,
{#              beforeSend:function(xhr, settings){#}
{#                xhr.setRequestHeader("X-CSRFToken", {% csrf_token %});#}
{#              },#}
              success:function (data) {
                  $('#annotation').html(data.msg);
                   console.log(data.msg);

          }
          });
        }
    </script>
</head>
<body>
    {% for rel_path,abs_path in path_dict.items %}
        /<a href="{% url  'projects:source' project.name abs_path %}">{{ rel_path }}</a>
    {% endfor %}
    <br>
    {% for file in files %}
        <a href="{% url 'projects:source' project.name file.path %}">{{ file.name }}</a>    {{ project.path|getFileSize:file.path|filesizeformat }} {{ project.path|getfileCTime:file.path }}   {{ project.path|getFileMTime:file.path }}
        {# 取出每个文件的注释数量#}
        {% if file.name in annos_count %}
            <div onclick="show_annotation({{ file.id }},0)">{{ annos_count|keyValue:file.name }}</div>
        {% endif %}
        <br>
    {% endfor %}
    <div id="annotation">

    </div>
</body>


</html>