<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    项目名：{{ project.name }}
    <br>
    项目描述：{{ project.desc }}
    <br>
    Github地址:{{project.github}}
    <br>
    Ossean地址：{{project.ossean}}
    <br>
    编程语言:{{project.language.name}}
    <br>
    文件数量:{{project.files}}
    <br>
    点击数量:{{project.views}}
    <br>
    创建时间:{{project.create_time}}
    <br>
    更新时间：{{project.update_time}}

    <a href="/projects/{{ project.name }}/xref">阅读源码</a>
    
    <div id="projectfiles">
        当前的目录结构
    </div>

    <br>
    Articles
    <br>
    {% for article in articles %}
        <a href="">{{ article.title }}</a>
        {{ article.desc }}
    {% endfor %}
    
</body>
</html>