<!DOCTYPE html> {% load base_filter %} {% load static %} {% load crispy_forms_tags %}
<html>

<head>
    <meta charset="UTF-8">
    <script type="application/javascript" src="{% static 'js/jquery-1.8.3-ui-1.9.2-ujs-2.0.3.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/prettify.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/source.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/qtip/jquery.qtip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/prettify.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/code_show.css' %}">


    <title>{{ project.name }}-{{ project.desc }}</title>

</head>


<body id="codepanel">
    <!-- 要求与codepeida的保持一致 -->
    <div class="clearfix head">
        <img src="/static/image/codepedia.png" style="margin:12px 0px 0px 10px;height: 20px">
        <!-- 要求与codepeida的保持一致 -->
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %} 
            {% include 'projects/filesub/login.html' %} 
            {% else %} 
            {% include 'projects/filesub/unlogin.html'%} 
            {% endif %}
        </ul>
    </div>

   
    <div id="search_response"></div>

    <!-- <hr style="margin-top: 0px;margin-bottom: 0px;border-top: 2px solid #4B4B4B;" /> -->

    <div class="clearfix modify-all">
    <!-- <div class="clearfix modify-all" style="margin-top: 2px;"> -->
        <div class="left">
            <ul class="fl left-tab">
                <li class="active">
                    <!-- <i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i> -->
                    <span>Project</span>
                </li>
                <li onclick="show_navigation(this)">
                    <span>Structure</span>
                </li>
            </ul>
            <div class="fl left-rightlist" id="file-list">
                <p class="tab-title clearfix">
                    <label class="fl" id="currentProjectName">
                        {{project.name}}
                    </label>

                    <font class="fr hideleft">
                        <i class="fa fa-angle-double-left color-white font-18" style="padding-right: 7px;"></i>
                    </font>
                </p>
                <div id="filelist-content">
                    {{ project_tree | safe }}
                </div>
            </div>
            <div class="fl left-rightlist" style="display:none;">
                <p class="tab-title clearfix">
                    <label class="fl">
                        {{project.name}}
                    </label>
                    
                    <font class="fr hideleft">
                        <i class="fa fa-angle-double-left color-white font-18" style="padding-right: 7px;"></i>
                    </font>
                </p>
                <div id="structure-context">

                </div>
            </div>
        </div>

        <div id="right_code" class="clearfix">

            <div class="loadCommentpanel-back" id="loadCommentpanel">

            </div>

            <div class="loadQuestionpanel-back" id="loadQuestionpanel">

            </div>


            <p class="filename" style="display: none;">
                
            </p>
            

            <!-- <div class="clearfix" style="display: flex;padding-top: 42px;"> -->
                <div class="clearfix" style="display: flex;height: 100%;">
                <div class="fl middle-area">
                    <div class="tab_head clearfix" style="position: fixed;z-index: 5;">

                        <li class="fr tab_head_more">
                            <!-- + -->
                            <ul class="tab_nav_ul">

                            </ul>
                        </li>
                    </div>

                    <div class="code_Area clearfix" style="padding-top: 30px;margin-top: 10px">
                        <!-- 这个对应这相对应的代码内容 -->

                    </div>
                </div>

                <div class="fl middle-right">
                    <div class="middle-right-item">
                        <p class="right-item-title">Project Infomation</p>
                        <p class="clearfix">
                            <span class="panel-left">Created</span>
                            <span class="panel-right">2018年4月22日 11:19</span>
                        </p>
                        <p class="clearfix">
                            <span class="panel-left">Views</span>
                            <span class="panel-right">392</span>
                        </p>
                        <p class="clearfix">
                            <span class="panel-left">Active</span>
                            <span class="panel-right">2018年4月22日 11:19</span>
                        </p>
                        <p class="clearfix">
                            <span class="panel-left">Source</span>
                            <span class="panel-right color-blue">GitHub/MiNote
                                <br/>OSSEAN/Minote</span>
                        </p>
                    </div>

                    <div class="middle-right-item">
                        <p class="right-item-title">Project Description</p>
                        <p class="right-description">This method was deprecated in API level 23 as of JDK version 1.1</p>
                        <div class="des clearfix">
                            <span>style</span>
                            <span>script</span>
                            <span>script</span>
                        </div>
                    </div>

                    <div class="middle-right-item" id="hotest_issue">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>