{% extends 'shared/base.html' %} {% load statics %} {% block title %} {{ project.name }}-{{ project.desc }}{% endblock %}
{% load base_filter %} {% block custom_css %}
<link rel="stylesheet" type="text/css" href="{%  static 'css/code_show.css' %}"> {% endblock %} {% block custom_js %}
<script src="{% static 'js/source.js' %}"></script> {% endblock %} {% block content %}
<div id="search_response">

</div>
<p class="font-18 filename">
    {{ file.name }}&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;文件路径: {% for rel_path,abs_path in path_dict.items %} /
    <a href="{% url  'projects:source' project.name abs_path %}">{{ rel_path }}</a>
    {% endfor %}
</p>

<!-- <div onclick="show_navigation('Notes', '/src/net/micode/notes/gtask/data/TaskList.java')" style="text-align: center"> Navigation </div> -->
<div class="clearfix modify-all">

    <div class="left">
        <ul class="fl left-tab">
            <li class="active">Files</li>
            <li onclick="show_navigation('{{ project.path }}', '{{ file.path }}')">Structure</li>
        </ul>

        <div class="fl left-rightlist" id="file-list">
            <p class="tab-title clearfix">
                <label class="fl">Files</label>
                <font class="fr hideleft">
                    <<</font>
            </p>

            <div id="filelist-content">
                {{ project_tree | safe }}
            </div>
        </div>

        <div class="fl left-rightlist" style="display:none;">
            <p class="tab-title clearfix">
                <label class="fl">Structure</label>
                <font class="fr hideleft">
                    <<</font>
            </p>
            <div id="annotation">

            </div>
        </div>
    </div>

    <div class="codereading">

        {% formatText2Line project.path file.path as lines %} {% for linenum,line in lines.items %}
        <div id="L{{ linenum }}" class="codeline" onmouseover="show_currentLine({{linenum}})" onmouseout="hide_currentLine({{linenum}})">
            <div id="linenum_{{ linenum  }}" class="linenum">{{ linenum }}</div>
            <!-- onmouseover="style.backgroundColor='#f1efec'" onmouseout="style.backgroundColor='white'"> -->
            <div id="code_{{ linenum }}" class="sourcecode">
                <pre class="prettyprint">{{ line|safe }}</pre>
            </div>

            <div id="linestatus_{{ linenum }}" class="linestatus">
                <span class="codeopration" id="codeopration_anno_{{linenum}}">
                    {% if linenum in annos_count %}
                    <span id="annonums_{{ linenum }}" class="annonums" onclick="show_annotation({{ file.id }},{{ linenum }})">
                        {{ annos_count|keyValue:linenum }}
                    </span>
                    {% endif %}
                </span>
                <span class="codeopration" id="codeopration_question_{{linenum}}">
                    {% if linenum in question_count %}
                    <span id="questionums_{{ linenum }}" class="questionnums" onclick='show_question({{ file.id }},{{ linenum }}, "{{ issues | keyValue:linenum }}" )'>
                        {{ question_count | keyValue:linenum }}
                    </span>
                    {% endif %}
                </span>

                <span id="addanno_{{ linenum }}" class="addanno" onclick="show_add_annotation(this)" style="visibility: hidden;">
                    <img src="/static/image/add.png" class="addanno-img" height="16" width="20" />
                </span>

                <div class="addno-panel" id="addno-panel">
                    <div class="trangle-op"></div>
                    <div class="put-content">
                        <select id="addno-select-{{ linenum }}" class="put-option">
                            <option>注释</option>
                            <option>问题</option>
                        </select>
                        <textarea id="addno-text-{{ linenum }}" class="put-text" placeholder="输入注释或者问题"> </textarea>
                        <a href="#" onclick="add_annotation({{ file.id }},{{ linenum }})" class="submit fr" id="submit">提交</a>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>
    <div class="right none">
        <div class="show-info-panel">

        </div>
    </div>
</div>

{% endblock %}