{% load base_filter %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="application/javascript" src="{%  static 'js/jquery-3.3.1.min.js' %}"></script> -->
    <script type="application/javascript" src="{%  static 'js/prettify.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/prettify.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/code_show.css' %}">
    <title>{{ project.name }}-{{ project.desc }}</title>

    <script type="application/javascript">
        var flag = true;//左侧默认显示

        function show_annotation(file_id, line_num) {
            $.ajax({
                cache: false,
                type: "POST",
                url: '/operations/show_annotation/',
                data: { 'file_id': file_id, 'line_num': line_num },
                dataType: 'json',
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
                },
                success: function (data) {
                    var html_str;
                    $(".show-info-panel").html(html_str);
                    var left = ($(".left").width());
                    if (flag) {
                        $(".codereading").css("width", "60%");
                    } else {
                        var wid = $(".codereading").width();
                        $(".codereading").css("width", wid - (left * 2) + "px");
                    }
                    $(".right").removeClass("none");
                }
            });
        }

        // function show_annotation(file_id, line_num) {
        //         $.ajax({
        //             cache: false,
        //             type: "POST",
        //             url: '/operations/show_annotation/',
        //             data: { 'file_id': file_id, 'line_num': line_num },
        //             dataType: 'json',
        //             async: true,
        //             beforeSend: function (xhr, settings) {
        //                 xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
        //             },
        //             success: function (data) {
        //                 var annos = JSON.parse(data.annos);
        //                 var anno_comments = JSON.parse(data.anno_comments);
        //                 console.log(anno_comments)
        //                 var html_str = '<div class="close-right" onclick="colserightpanel();">×</div>' +
        //                     '<p class="right-name">第' + line_num + '行注释</p>';
        //                 var j = 0;
        //                 $.each(annos, function (index, anno_content) {
        //                     // console.log(anno_content);
        //                     // console.log(anno_content.fields['vote']);
        //                     html_str +=
        //                         '<div class="questions showinfo clearfix">' +
        //                         //左侧点赞区域
        //                         '<div class="plusnum fl">' +
        //                         '<a href="javascript:void(0)" class="fa sort up"></a>' +
        //                         '<!--点赞数量 -->' +
        //                         '<span class="question-count">' + anno_content.fields['vote'] + '</span>' +
        //                         '<!--点踩  -->' +
        //                         '<a href="javascript:void(0)" class="fa sort down"></a>' +
        //                         '</div>' +
        //                         //中间问题内容区域
        //                         '<div class="allinfo fr">' +
        //                         '<p class="info-p info-content">' + anno_content.fields['content'] + '</p>' +
        //                         '<p class="info-p" style="font-size:12px;text-align:right">' +
        //                         '<a href="javascript:void(0)">' + anno_content.fields['user'] + '</a>' +
        //                         '<span>' + anno_content.fields['update_time'] + '</span>' +
        //                         '</p>';
        //                     //问题对应的评论区域
        //                     while (j < anno_comments.length) {
        //                         if (anno_comments[j].fields['annotation'] == anno_content.pk) {
        //                             html_str +=
        //                                 '<div class="comment-item">' +
        //                                 '<p class="comment-con">' + anno_comments[j].fields['content'] + '</p>' +
        //                                 '<p class="comment-name">----' +
        //                                 '<a href="javascript:void(0)">' + anno_comments[j].fields['user'] + '</a>' +
        //                                 '</p>' +
        //                                 '</div>';
        //                             j += 1;
        //                         }
        //                     }
        //                     html_str +=
        //                         //评论框
        //                         '<div class="comment-btn clearfix">' +
        //                         '<a href="javascript:void(0)" class="btn fr" onclick="addcomments(this)" id="addcom">添加评论</a>' +
        //                         '<div class="comment-write clearfix none">' +
        //                         '<textarea class="writetext" id="writetext_' + anno_content.pk + '" placehoder="请输入评论内容"></textarea>' +
        //                         '<a href="javascript:void(0)" class="btn fr" onclick="cancelcom(this)">取消</a>' +
        //                         '<a href="javascript:void(0)" class="btn fr" style="margin-right:10px;" onclick=\'add_comment_action(this,' + anno_content.pk + ',"annotation")\'>添加评论</a>' +
        //                         '</div>' +
        //                         '</div>' +
        //                         '</div>' +
        //                         '</div>';

        //                     // console.log(html_str);
        //                 });
        //                 $(".show-info-panel").html(html_str);

        //                 var left = ($(".left").width());
        //                 if (flag) {
        //                     $(".codereading").css("width", "60%");
        //                 } else {
        //                     var wid = $(".codereading").width();
        //                     $(".codereading").css("width", wid - (left * 2) + "px");
        //                 }
        //                 $(".right").removeClass("none");
        //             }
        //         });
        //     }

        // FIXME
        function show_question(file_id, line_num, issue_id_type) {

            //发送问题id，返回问题内容
            $.ajax({
                cache: false,
                type: "POST",
                url: '/operations/show_question/',
                data: { 'issue_id_type': issue_id_type },
                dataType: 'json',
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
                },
                success: function (data) {
                    var issues = JSON.parse(data.issues);
                    var issueChoices = JSON.parse(data.issueChoices);

                    var html_str = '<div class="questions showinfo clearfix">' +
                        '<p class="right-name">第' + line_num + '行问题</p>';

                    choice_index = 0;
                    for (let i = 0; i < issues.length; i = i + 1) {
                        var current_Choices = [];
                        while (choice_index < issueChoices.length) {
                            if (issueChoices[choice_index].fields['issue'] == issues[i].pk) {
                                current_Choices.push(issueChoices[choice_index].fields['choice_text']);
                                choice_index += 1;
                            } else {
                                break;
                            }
                        }
                        console.log(issues[i])
                        console.log(current_Choices)
                        if (issues[i].fields['issue_type'] == '1') {
                            html_str += show_one_choice_question(issues[i].fields['content'], current_Choices);
                        }
                    }

                    html_str += "</div>"
                    $(".show-info-panel").html(html_str);

                    var left = ($(".left").width());
                    if (flag) {
                        $(".codereading").css("width", "60%");
                    } else {
                        var wid = $(".codereading").width();
                        $(".codereading").css("width", wid - (left * 2) + "px");
                    }
                    $(".right").removeClass("none");
                }
            });
        }

        function add_vote(type, id, num) {

        }

        function show_one_choice_question(issueContent, choices) {
            //问题的点赞区域
            var html_str = '<div class="plusnum fl">' +
                '<!-- 点赞 -->' +
                '<a class="fa sort up" onclick="add_vote("question",136996,1)"></a>' +
                '<!-- 点赞数量 -->' +
                '<span class="question-count"></span>' +
                '<!--  点踩  -->' +
                '<a class="fa sort down" onclick="add_vote("question",136996,-1)"></a>' +
                '</div>' +

                // 问题的选项区域
                '<div class="allinfo fr">' +
                '<p class="info-p info-content">选择题:' + issueContent + '</p>' +
                '<div class="option-panel">';
            for (let i = 0; i < choices.length; i++) {
                html_str += '<span><input type="radio" name="question_1" />' + choices[i] + '</span>'
            }
            html_str += (
                '</div>' +
                // 默认应该是隐藏的，除非它输入了答案
                // '<p class="commitanswer clearfix">'+
                //     '<a href="javascript:void(0)" class="btn fl">提交答案</a>'+
                //     '<span class="showanswer">你的答案：B</span>'+
                //     '<span class="showanswer">参考答案：B</span>'+
                // '</p>'+
                // 如果有注释的话，循环获取评论
                '<div class="comment-item">' +
                '<p class="comment-con">就是能这么写，自己想想就可以了</p>' +
                '<p class="comment-name">----<a href="javascript:void(0)">蔡世</a></p>' +
                '</div>' +
                // 添加评论区域
                '<div class="comment-btn clearfix">' +
                '<a href="javascript:void(0)" class="btn fr" onclick="addcomments(this)" id="addcom">添加评论</a>' +
                '<div class="comment-write clearfix none">' +
                '<textarea class="writetext" placehoder="请输入评论内容"></textarea>' +
                '<a href="javascript:void(0)" class="btn fr" onclick="cancelcom(this)">取消</a>' +
                '<a href="javascript:void(0)" class="btn fr" style="margin-right:10px;" onclick="add_comment_action(this)">添加评论</a>' +
                '</div>' +
                '</div>' +
                '</div>'
            );
            return html_str;
        }

        function show_multi_choice_question() {

        }
        
        function add_comment_action(item,id,type) {
            var content=$("#writetext_"+id).val();
            console.log(content);
            //发送一个ajax请求
              $.ajax({
                cache: false,
                type: "POST",
                url: '/operations/add_comment/',
                data: { 'object_id': id,'type':type,"content":content },
                dataType: 'json',
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
                },
                success: function (data) {
                   if(data.status === 'success'){
                       show_new_comment(item);
                   }else{
                       alert(data.msg);
                   }
                }
            });
        }

         //添加评论
        function show_new_comment(item) {
                var txt = $(item).siblings(".writetext").val();
                if (txt == "") {
                    confirm("请输入评论内容");
                    return;
                }
                var html = "";
                html += "<div class=\"comment-item\">";
                html += "<p class=\"comment-con\">" + txt + "</p>";
                html += "<p class=\"comment-name\">----<a href=\"javascript:void(0)\">蔡世</a></p></div>";
                $(item).parents(".comment-btn").before(html);
                $(item).parents(".comment-btn").find(".comment-write").addClass("none");
                $(item).parents(".comment-btn").find("#addcom").removeClass("none");
                $(item).siblings(".writetext").val("");
        }

        function show_normal_question() {

        }

        function show_add_annotation(item) {
            $(item).siblings("#addno-panel").show();
        }

        function add_annotation(file_id, line_num) {
            //$("#annotation").html("------您将在此处为第" + line_num + "行代码添加注释或者问题-------")
            // 获取当前是注释还是问题
            var select_context = "#addno-select-" + line_num + " option:selected";
            var selectValue = $(select_context).text();  //获取选中的项

            var text_context = "#addno-text-" + line_num;
            var content = $(text_context).val();
            if (content.trim().length == 0) {
                alert("内容不能为空")
                return;
            }

            if (selectValue == "注释") {
                // 向addAnnatation中发请求
                submint_annotation(file_id, line_num, content);
            } else {
                submint_question(file_id, line_num, content);
            }
        }

        function submint_annotation(file_id, line_num, content) {
            $.ajax({
                cache: false,
                type: "POST",
                url: '/operations/add_annotation/',
                data: { 'file_id': file_id, 'linenum': line_num, 'content': content },
                dataType: 'json',
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
                },
                success: function (data) {
                    if (data.status == 'success') {
                        console.log(11111);
                        // 因为可能注释或问题没有值的时候，不会为该代码块添加html代码，所以首先判断
                        // 然后将注释数+1
                        var codeopration_anno_div = $("#codeopration_anno_" + line_num).html()
                        if (codeopration_anno_div.trim().length == 0) {
                            var str = '<span id="annonums_' + line_num + '" class="annonums" onclick="show_annotation(' + file_id + ',' + line_num + ')">';
                            str += '1</span>';
                            $("#codeopration_anno_" + line_num).html(str);
                        } else {
                            var annonum_before = $("#annonums_" + line_num).text();
                            $("#annonums_" + line_num).html(parseInt(annonum_before) + 1);
                        }
                    }
                    alert(data.msg);
                }
            });
        }


        function submint_question(file_id, line_num, content) {
            $.ajax({
                cache: false,
                type: "POST",
                url: '/operations/add_question/',
                data: { 'file_id': file_id, 'linenum': line_num, 'content': content },
                dataType: 'json',
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
                },
                success: function (data) {
                    if (data.status == 'success') {

                        var codeopration_anno_div = $("#codeopration_question_" + line_num).html()
                        if (codeopration_anno_div.trim().length == 0) {
                            var str = '<span id="questionums_' + line_num + '" class="questionnums" onclick="show_annotation(' + file_id + ',' + line_num + ')">';
                            str += '1</span>'
                            $("#codeopration_question_" + line_num).html(str);
                        } else {
                            var question_before = $("#questionums_" + line_num).text();
                            $("#questionums_" + line_num).html(parseInt(question_before) + 1);
                        }
                    }
                    alert(data.msg);
                }
            });
        }

        function search_symbol(args, ev) {
            $.ajax({
                cache: false,
                type: "POST",
                url: '/operations/show_method_info/',
                data: { 'args': args },
                dataType: 'json',
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
                },
                success: function (data) {
                    if (data.status === 'success') {
                        var obj = data.msg;
                        var context = "<p class='search-title'>搜索结果</p><div class='resultform'>";
                        console.log(obj);
                        for (let i = 0; i < obj.length; i++) {
                            var filePath = obj[i]['path'];
                            var filePathTag = "<a href=\"/projects" + filePath + "\" target='_blank' class='re-path'>" + filePath + "</a>";
                            var code = window.atob(obj[i]['line'])
                            var lineno = obj[i]['lineno']
                            var codeTag = "<a href=\"/projects" + filePath + "#L" + lineno + "\" target='_blank'>" + code + "</a>";
                            context += "<div class='result-line'><span class='fl'>" + (i + 1) + ".  </span>" + filePathTag + "&nbsp;&nbsp;&nbsp;&nbsp;" + codeTag + "</div>";
                        }
                        context += "</div>";
                        // console.log(context);
                        $("#search_response").html(context);

                        ev = ev || window.event;
                        console.log('x=' + ev.clientX + ',' + 'y=' + ev.clientY)

                        var mousePos = mouseCoords(ev);

                        $("#search_response").css("top", mousePos.y);
                        $("#search_response").css("left", mousePos.x);
                        $("#search_response").show();
                        ev.stopPropagation();
                    }
                }
            });
        }



        function show_navigation(project_path, file_path) {

            $.ajax({
                cache: false,
                type: "POST",
                url: '/operations/show_navigation/',
                data: { 'project_path': project_path, 'file_path': file_path },
                dataType: 'json',
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{  csrf_token}}');
                },

                success: function (data) {
                    if (data.status === 'success') {
                        var content = "";
                        var obj = data.msg;
                        console.log(obj);
                        for (let i = 0; i < obj.length; i++) {
                            var type = obj[i][0];
                            var str = '';
                            str += "<div id=" + type + ">";
                            str += "<div class='tags'>" + type + "</div>";
                            if (obj.length > 1) {
                                var items = obj[i][1];
                                for (let j = 0; j < items.length; j++) {
                                    var name = items[j][0];
                                    var linenum = items[j][1];
                                    str += "<a class='def' href='#L" + linenum + "'>" + name + "</a><br>" + "</div>";
                                }
                            }
                            str += "</div>";
                            content += str;
                        }
                        // document.getElementById("annotation").style.display="block";
                        $("#annotation").html(content)
                    }
                    else {
                        $("#annotation").html(data.msg)
                    }
                }
            });
        }

        function show_currentLine(linenum) {
            document.getElementById("code_" + linenum).style.backgroundColor = '#f1efec';
            document.getElementById("addanno_" + linenum).style.visibility = 'visible';
        }

        function hide_currentLine(linenum) {
            document.getElementById("code_" + linenum).style.backgroundColor = 'white';
            document.getElementById("addanno_" + linenum).style.visibility = 'hidden';
        }

        $(function () {
            $("body").click(function (event) {
                //点击页面隐藏弹出框
                if ($(event.target).parents().attr("class") == "addno-panel" || $(event.target).attr("id") == "addno-panel" || $(event.target).attr("class") == "put-option" || $(event.target).attr("class") == "put-text" || $(event.target).attr("id") == "submit" || $(event.target).attr("class") == "addanno-img") {
                    return;
                }
                $(".addno-panel").hide();
                //alert($(event.target).attr("class"));
                $("#search_response").hide();
            })
            $("#filelist-content .item").click(function () {
                if ($(this).siblings(".sub-item").length > 0 && $(this).attr("show") == "0") {
                    $(this).siblings(".sub-item").show();
                    $(this).attr("show", "1");
                } else if ($(this).attr("show") == "1") {
                    $(this).siblings(".sub-item").hide();
                    $(this).attr("show", "0");
                }
            })

            $(".left-tab li").click(function () {
                $(".left-tab li").removeClass("active");
                $(this).addClass("active");
                $(".left-rightlist").hide();

                $(".left-rightlist").eq($(this).index()).show();

                if (flag == false) {
                    $(".codereading").css("width", "80%");
                    $(".left").animate({ "width": "20%" }, 1000);
                }

            })

            /*隐藏左侧部分*/
            $(".hideleft").click(function () {
                var wid = $(".left").width();
                $(".left").animate({ "width": "70px" }, 800);
                $(".left-tab li").removeClass("active");
                $(".codereading").width(parseInt($(".codereading").width()) + wid);
                flag = false;
            })

            $(".up").bind("click", function () {
                alert(11111)
                var count = $(this).siblings(".question-count").html();
                if ($(this).siblings(".down").hasClass("active")) {
                    $(".up,.down").removeClass("active");
                    $(this).siblings(".question-count").html(parseInt(count) + 1);
                } else {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) - 1);
                    } else {
                        $(this).siblings(".down").removeClass("active");
                        $(this).addClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) + 1);
                    }
                }
            })

            $(".down").bind("click", function () {
                var count = $(this).siblings(".question-count").html();

                if ($(this).siblings(".up").hasClass("active")) {
                    $(".up,.down").removeClass("active");
                    $(this).siblings(".question-count").html(parseInt(count) - 1);
                } else {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) + 1);
                    } else {
                        $(this).siblings(".down").removeClass("active");
                        $(this).addClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) - 1);
                    }
                }
            })
            $(".up-s").bind("click", function () {
                var count = $(this).siblings(".question-count").html();
                if ($(this).siblings(".down-s").hasClass("active")) {
                    $(".up-s,.down-s").removeClass("active");
                    $(this).siblings(".question-count").html(parseInt(count) + 1);
                } else {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) - 1);
                    } else {
                        $(this).siblings(".down-s").removeClass("active");
                        $(this).addClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) + 1);
                    }
                }
            })
            $(".down-s").bind("click", function () {
                var count = $(this).siblings(".question-count").html();

                if ($(this).siblings(".up-s").hasClass("active")) {
                    $(".up-s,.down-s").removeClass("active");
                    $(this).siblings(".question-count").html(parseInt(count) - 1);
                } else {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) + 1);
                    } else {
                        $(this).siblings(".down-s").removeClass("active");
                        $(this).addClass("active");
                        $(this).siblings(".question-count").html(parseInt(count) - 1);
                    }
                }
            })

            //滚动codepanel隐藏搜索结果
            $(".codereading").scroll(function () {
                $("#search_response").hide();
            })
        })
        function addcomments(item) {
            $(item).siblings(".comment-write").removeClass("none");
            $(item).addClass("none");
        }

        function cancelcom(item) {
            $(item).parents(".comment-write").siblings("#addcom").removeClass("none");
            $(item).parents(".comment-write").addClass("none");
        }
       
        //隐藏右侧部分
        function colserightpanel() {
            if (flag) {
                $(".codereading").css("width", "80%");
            } else {
                var rightwid = $(".right").width();
                var codewid = $(".codereading").width();
                $(".codereading").css("width", parseInt(codewid) + parseInt(rightwid));
            }
            $(".right").addClass("none");
        }
        function mouseCoords(ev) {
            console.log(ev);
            // debugger;
            if (ev.pageX || ev.pageY) {
                return {
                    x: ev.pageX,
                    y: ev.pageY
                };
            }
            return {
                x: ev.clientX + document.body.scrollLeft - document.body.clientLeft,
                y: ev.clientY + document.body.scrollTop - document.body.clientTop
            };
        }
    </script>

</head>

<body id="codepanel">
    <div id="search_response">

    </div>
    <p class="font-18 filename">
        {{ file.name }}&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;文件路径: {% for rel_path,abs_path in path_dict.items %} /
        <a href="{% url  'projects:source' project.name abs_path %}">{{ rel_path }}</a>
        {% endfor %}
    </p>

    <!-- <div onclick="show_navigation('Notes', '/src/net/micode/notes/gtask/data/TaskList.java')" style="text-align: center"> Navigation </div> -->
    <div class="clearfix modify-all">

        <div class="left">
            <ul class="fl left-tab">
                <li class="active">Files</li>
                <li onclick="show_navigation('{{ project.path }}', '{{ file.path }}')">Structure</li>
            </ul>

            <div class="fl left-rightlist" id="file-list">
                <p class="tab-title clearfix">
                    <label class="fl">Files</label>
                    <font class="fr hideleft">
                        <<</font>
                </p>

                <div id="filelist-content">
                    {{ project_tree | safe }}
                </div>
            </div>

            <div class="fl left-rightlist" style="display:none;">
                <p class="tab-title clearfix">
                    <label class="fl">Structure</label>
                    <font class="fr hideleft">
                        <<</font>
                </p>
                <div id="annotation">

                </div>
            </div>
        </div>

        <div class="codereading">

            {% formatText2Line project.path file.path as lines %} {% for linenum,line in lines.items %}
            <div id="L{{ linenum }}" class="codeline" onmouseover="show_currentLine({{linenum}})" onmouseout="hide_currentLine({{linenum}})">
                <div id="linenum_{{ linenum  }}" class="linenum">{{ linenum }}</div>
                <!-- onmouseover="style.backgroundColor='#f1efec'" onmouseout="style.backgroundColor='white'"> -->
                <div id="code_{{ linenum }}" class="sourcecode">
                    <pre class="prettyprint">{{ line|safe }}</pre>
                </div>

                <div id="linestatus_{{ linenum }}" class="linestatus">
                    <span class="codeopration" id="codeopration_anno_{{linenum}}">
                        {% if linenum in annos_count %}
                        <span id="annonums_{{ linenum }}" class="annonums" onclick="show_annotation({{ file.id }},{{ linenum }})">
                            {{ annos_count|keyValue:linenum }}
                        </span>
                        {% endif %}
                    </span>
                    <span class="codeopration" id="codeopration_question_{{linenum}}">
                        {% if linenum in question_count %}
                        <span id="questionums_{{ linenum }}" class="questionnums" onclick='show_question({{ file.id }},{{ linenum }}, "{{ issues | keyValue:linenum }}" )'>
                            {{ question_count | keyValue:linenum }}
                        </span>
                        {% endif %}
                    </span>

                    <span id="addanno_{{ linenum }}" class="addanno" onclick="show_add_annotation(this)" style="visibility: hidden;">
                        <img src="/static/image/add.png" class="addanno-img" height="16" width="20" />
                    </span>

                    <div class="addno-panel" id="addno-panel">
                        <div class="trangle-op"></div>
                        <div class="put-content">
                            <select id="addno-select-{{ linenum }}" class="put-option">
                                <option>注释</option>
                                <option>问题</option>
                            </select>
                            <textarea id="addno-text-{{ linenum }}" class="put-text" placeholder="输入注释或者问题"> </textarea>
                            <a href="#" onclick="add_annotation({{ file.id }},{{ linenum }})" class="submit fr" id="submit">提交</a>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            {% endfor %}

        </div>
        <div class="right none">
            <div class="show-info-panel">

            </div>
        </div>
    </div>

    <!-- <div style="float: left;width: 25%; margin-left: 30px;" id="navigation"></div> -->
</body>

</html>