<div class="questions showinfo clearfix">
    <!-- 左侧点赞区域 -->
    <div class="plusnum fl">
        <a href="javascript:void(0)" class="fa sort up"></a
        <!--点赞数量 -->
        <span class="question-count"></span>
        <!--点踩  -->
        <a href="javascript:void(0)" class="fa sort down"></a>
        </div>
    <!-- 中间问题内容区域 -->
    <div class="allinfo fr">
        <p class="info-p info-content">'

        </p>
        <p class="info-p" style="font-size:12px;text-align:right">
            <a href="javascript:void(0)"></a>
            <span></span>
        </p>
        <!-- 问题对应的评论区域  -->
        <div class="comment-item">
            <p class="comment-con"></p>
            <p class="comment-name">
                <a href="javascript:void(0)"></a>'
            </p>
        </div>
        <!-- 评论框 -->
        <div class="comment-btn clearfix">
            <a href="javascript:void(0)" class="btn fr" onclick="addcomments(this)" id="addcom">添加评论</a>
            <div class="comment-write clearfix none">
                <textarea class="writetext" id="writetext_" placehoder="请输入评论内容"></textarea>
                <a href="javascript:void(0)" class="btn fr" onclick="cancelcom(this)">取消</a>
                <a href="javascript:void(0)" class="btn fr" style="margin-right:10px;" onclick='add_comment_action(this, , "annotation")'>添加评论</a>
            </div>
        </div>
    </div>
</div>