<div class="pr">
    <div class="commentPanel" id="commentPanel">
        {% for anno in annos%}
        <div class="commentparthalf">
            <div class="parthalf_con clearfix">
                <span class="break_word color-grey-des">{{ anno.content }}</span>
                <a href="javascript:void(0)" class="fr thumbsThis" onclick="thumbsThis(this)">
                    <i class="fa fa-thumbs-up mr3 color-grey-c"></i>
                    <span>{{ anno.vote }}</span>
                </a>
            </div>
            <div class="parthalf_comment">
                {% for comment in anno_comments %} {% if comment.annotation.pk == anno.pk %}
                <div class="comment-item">
                    <p>{{ comment.user.nick_name }}</p>
                    <span class="color-grey-des">{{ comment.content }}</span>
                </div>
                {% endif %} {% endfor %}

                <div class="comment-btn clearfix">
                    <a href="javascript:void(0)" class="btn btn-blue fr mt5" onclick="addcomments(this)" id="addcom">添加评论</a>
                    <div class="comment-write clearfix none">
                        <textarea class="writetext" id="writetext_{{ anno.pk }}" placehoder="请输入评论内容"></textarea>
                        <a href="javascript:void(0)" class="btn fr" onclick="cancelcom(this)">取消</a>
                        <a href="javascript:void(0)" class="btn btn-blue fr" style="margin-right:10px;" onclick='add_comment_action(this,{{ anno.pk }},"annotation")'>添加评论</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>