{% load base_filter %}

{% formatText2Line project.path file.path as lines %} 
{% for linenum,line in lines.items %}
<div id="{{fileid}}_L{{ linenum }}" class="codeline" onmouseover='show_currentLine("{{fileid}}_{{linenum}}")' onmouseout='hide_currentLine("{{fileid}}_{{linenum}}")'>
    <div id="linenum_{{ linenum  }}" class="linenum">{{ linenum }}</div>

    <div id="code_{{fileid}}_{{ linenum }}" class="sourcecode">
        <pre>
            <code class="java">
                {{ line|safe }}
            </code>
        </pre>
    </div>

    <div id="linestatus_{{ linenum }}" class="linestatus">
        <span class="codeopration" id="codeopration_anno_{{fileid}}_{{linenum}}">
            {% if linenum in annos_count %}
            <span id="annonums_{{ linenum }}" class="annonums" onclick="show_annotation({{ file.id }},{{ linenum }})">

            </span>
            {% endif %}
        </span>
        <span class="codeopration" id="codeopration_question_{{fileid}}_{{linenum}}">
            {% if linenum in issues_count  %}
            <span id="questionums_{{ linenum }}" class="questionnums" onclick='show_issue_question({{ file.id }},{{ linenum }},"{{ issues | keyValue:linenum }}" )'>
                {# {{ question_count | keyValue:linenum }} #}
            </span>
            {% elif linenum in questions_count %}
            <span id="questionums_{{ linenum }}" class="questionnums" onclick='show_issue_question({{ file.id }},{{ linenum }},"[]" )'>
            </span>
            {% endif %}
        </span>

        <span id="addanno_{{fileid}}_{{ linenum }}" class="addanno" style="visibility: hidden;" onclick="inject_addnoPanel_html(this,{{fileid}},{{linenum}})">
            <i class="fa fa-plus-circle color-grey-c"></i>
        </span>
    </div>

</div>
{% endfor %}