<div class="path_info">
    <div class="clearfix mb10">
        <span class="fl font-20">目录信息</span>
        <p class="fr">
            <span class="fl mr15 mt7">
                <img src="/static/image/annotation.png" class="mr3">
                <span class="font-12" id="dir_anno_{{file_id}}">{{anno_num}}</span>
            </span>
            <span class="fl mr15 mt7">
                <img src="/static/image/question.png" class="mr3">
                <span class="font-12" id="dir_question_{{file_id}}">{{question_num}}</span>
            </span>
            
            <span class="fl mt7" onclick="show_next_addnoPanel({{file_id}})">
                <i class="fa fa-plus-circle color-grey-c"></i>
            </span>

            <div class="addno-panel" id="addno-panel-{{file_id}}" style="top: 200px">
                <div class="trangle-op"></div>
                <div class="put-content">
                    <p class="put-select clearfix" id="addno-select-0">
                        <span class="active" onclick='$(this).siblings("span").removeClass("active"); $(this).addClass("active");'>注释</span>
                        <span onclick='$(this).siblings("span").removeClass("active"); $(this).addClass("active");'>问题</span>
                    </p>
                    <textarea id="addno-text-{{file_id}}-0" class="put-text" placeholder="输入注释或者问题"> </textarea>
                    <a href="#" onclick="add_dir_annotation(this,{{file_id}},0)" class="submit fr" id="submit">提交</a>
                </div>
            </div>
        </p>
    </div>
    <div class="filePathInfo">
        <div class="clearfix filePathline">
            <span>
                <label>标注文件数</label>
                <label>{{anno_filenum}}</label>
            </span>
            <span>
                <label>系统提问数</label>
                <label>{{issue_sum}}</label>
            </span>
            <span>
                <label>参与用户数</label>
                <label>{{usersum}}</label>
            </span>
        </div>
        <div class="clearfix filePathline">
            <span>
                <label>用户注释数</label>
                <label>{{anno_sum}}</label>
            </span>
            <span>
                <label>用户提问数</label>
                <label>{{question_sum}}</label>
            </span>
            <span>
                <label>最新标注文件数</label>
                <label>0</label>
            </span>
        </div>
    </div>
    <div class="clearfix mb10 mt10">
        <span class="fl font-20">文件信息</span>
        <p class="fr">
            <span class="fl mt7 info-nav active">注释</span>
            <em class="ver-line"></em>
            <span class="fl mt7 info-nav">问题</span>
        </p>
    </div>
    <div class="filePathInfo">
        <div class="clearfix filePathline fileinfo-item">
            <span>名称</span>
            <span>注释</span>
            <span>问题</span>
        </div>
        {% for fileid, name_anno_issue in fileid_name_anno_issue.items %}  
        <div class="clearfix filePathline fileinfo-item">
            {% for item in name_anno_issue %}
            <span>{{ item }}</span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>