<div class="pr">
    <div class="commentPanel" id="questionPanel">
        <p class="ques-title">
            该代码块共有系统推送问题<i class="fa fa-star color-orange"></i>{{issuenum}}个，
            用户提问<i class="fa fa-star color-dark-blue"></i>{{questionnum}}个</p>
            {% include 'projects/filesub/one-choice-issue.html' %} 
            {% include 'projects/filesub/muti-choice-issue.html' %} 
            {% include 'projects/filesub/text-issue.html' %}
            {% include 'projects/filesub/text-question.html' %}
    </div>
</div>

