<ul class="nav navbar-nav navbar-right" style="margin-right: 0px!important;">
    <li style="margin-right:20px" class="pr downList-panel fr">
        <img width="38" height="38" style='margin-top: 5px;float:left' src="/static/image/users/default.png" />
        <span>{{request.user.nick_name}}</span>
        <i class="fa fa-caret-down color-grey-c fl mt22 ml5"></i>
        <ul class="downList">
            <li><a href="{% url 'users:userinfo' %}">进入个人中心</a></li>
            <li><a href="{% url 'users:logout' %}">退出</a></li>          
        </ul>
    </li>
    <li class="pr downList-panel fr" style="margin-right:20px">
        <span>个人记录</span>
        <i class="fa fa-caret-down color-grey-c fl mt22 ml5"></i>
        <ul class="downList">
            <li>
                <a href="">提交代码</a>
            </li>
            <li>
                <a href="">我的问题</a>
            </li>
            <li>
                <a href="">我的回答</a>
            </li>
            <li>
                <a href="">我的注释</a>
            </li>
            <li>
                <a href="">我的评论</a>
            </li>
            <li>
                <a href="">我的点赞</a>
            </li>
            <li>
                <a href="">我的点踩</a>
            </li>
            <li>
                <a href="{% url 'users:logout' %}">退出</a>
            </li>   
        </ul>
    </li>
    <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">jackone
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="userdetail">
                <dl>
                    <dt>
                        <img width="80" height="80" src="../static/image/users/default.png" />
                    </dt>
                    <dd>
                        <a></a>
                    </dd>
                </dl>
                <div style='' class="btn">
                    <a class="fl" href="{% url 'users:userinfo' %}">进入个人中心</a>
                    <a class="fr" href="{% url 'users:logout' %}">退出</a>
                </div>
            </li>
        </ul>
    </li> -->
    <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人记录
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="">提交代码</a>
            </li>
            <li>
                <a href="">我的问题</a>
            </li>
            <li>
                <a href="">我的回答</a>
            </li>
            <li>
                <a href="">我的注释</a>
            </li>
            <li>
                <a href="">我的评论</a>
            </li>
            <li>
                <a href="">我的点赞</a>
            </li>
            <li>
                <a href="">我的点踩</a>
            </li>
            <li>
                <a href="{% url 'users:logout' %}">退出</a>
            </li>
        </ul>
    </li> -->
</ul>