<div class="tab_head clearfix">
    <!-- tab-items的id为：tab_对应的path -->

    <!-- <li class="tab_item" id="tab_src_net_micode_notes_widget_NoteWidgetProvider">
        <a href="javascript:void(0)" onclick="open_tab('src_net_micode_notes_widget_NoteWidgetProvider')">NoteWidgetProvider.java</a>
        <a href="javascript:void(0)" onclick="close_tab('src_net_micode_notes_widget_NoteWidgetProvider')">&times</a>
    </li>
    <li class="tab_item" id="tab_README">
        <a href="javascript:void(0)" onclick="open_tab('README')">README</a>
        <a href="javascript:void(0)" onclick="close_tab('README')">&times</a>
    </li> -->
</div>

<div class="code_Area clearfix">
    <!-- code-reading对应的id为:code_对应的path -->
    
</div>