<p class="search-title">搜索结果</p>

<div class="resultform">
    {% for item in results %}
    <div class="result-line">
        <span class="fl">{{ forloop.counter }}. </span>
            <a href="javascript:void(0)" class="re-path" title="{{item.2}}" onclick='add_tab({{project_id}},"{{item.1}}","{{item.0}}")'>{{ item.2|safe }}
            <a href="javascript:void(0)" class="path-content" title="{{item.3}}" onclick='add_tab({{project_id}},"{{item.1}}","{{item.0}}")'>{{ item.3|safe }}
    </div>
    {% endfor %}
</div>