html {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 2.0;
    font-family: "微软雅黑", "宋体";
    color: #05101a;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #F9F9F9;
}

p, input, table {
    margin: 0px;
    padding: 0px;
}

.break_word {
    word-break: break-all;
    word-wrap: break-word;
}

.color-blue {
    color: #33A6D6
}

.color-dark-blue {
    color: #5C7C99
}

.color-dark-57 {
    color: #575757;
}

.color-grey-des {
    color: #808080;
}

.color-grey-c {
    color: #ccc;
}

.color-white {
    color: #fff;
}

.color-orange {
    color: #FF6800;
}

.radius {
    border-radius: 50%;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    clear: both;
    zoom: 1
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #33A6D6;
    text-decoration: underline;
}

.font-12 {
    font-size: 12px!important;
}

.font-14 {
    font-size: 14px!important;
}

.font-16 {
    font-size: 16px!important;
}

.font-18 {
    font-size: 18px!important;
}

.font-20 {
    font-size: 20px!important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mt5 {
    margin-top: 5px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt22 {
    margin-top: 22px;
}

.mr3 {
    margin-right: 3px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr15 {
    margin-right: 15px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml5 {
    margin-left: 5px;
}

/*自定义滚动条宽度*/

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.modify-all {
    overflow-y: auto;
    display: flex;
    display: -webkit-flex;
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: 56px;
}

.head {
    background-color: #07141A;
    height: 56px;
}

.filename {
    padding: 5px 20px;
    background: #293033;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    z-index: 5;
}

.filename a {
    color: #fff
}

.left {
    float: left;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    -webkit-box-flex: 1;
    display: flex;
    background: #374e5d;
    position: relative;
    overflow: hidden;
}

.left-tab {
    width: 70px;
    text-align: center;
    background: #21323D;
    padding: 0px;
    padding-left: 3px;
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 2;
}

.left-tab li {
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 0px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

.hideleft {
    cursor: pointer;
}

.left-tab li.active {
    background: #32A5D5;
}

.left-tab li span {
    transform: rotate(-90deg);
    display: block;
    font-size: 15px;
}

.left-rightlist {
    position: absolute;
    top: 0px;
    width: 100%;
    padding-left: 70px;
    box-sizing: border-box;
    height: 100%;
    z-index: 1;
}

.tab-title {
    height: 60px;
    line-height: 60px;
    padding: 0px 15px;
    box-sizing: border-box;
    background: #2e4452;
    color: #fff;
}

#filelist-content {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 0px;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

#filelist-content ul {
    margin: 0px;
}

#filelist-content ul li {
    list-style: none;
}

#filelist-content ul li a {
    color: #fff;
    display: block;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sub-item {
    display: none;
}

#search_response {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;
    z-index: 5;
    border: 1px solid #ccc;
    display: none;
    border-radius: 4px;
}

.search-title {
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#structure-context, #structure-context a {
    color: #fff;
}

.result-line {
    padding: 3px 10px;
    border-bottom: 1px solid #ccc;
    height: 28px;
    line-height: 22px;
    box-sizing: border-box;
}

.result-line:last-child {
    border: none;
}

.re-path {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    display: block;
    float: left;
    margin-right: 20px;
}

.resultform {
    max-height: 300px;
    overflow-y: auto;
}

.path-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 390px;
    display: block;
    float: left;
    position: relative;
    ;
}

.path-all {
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: #F4FCFF
}

.right {
    float: right;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    -webkit-box-flex: 1;
}

#right_code {
    width: 80%;
    background-color: #f9f9f9;
    overflow-y: auto;
    position: relative;
}

.codereading {
    width: 100%;
    margin: 0;
    float: left;
    min-height: 100%;
    overflow-y: auto;
    background-color: #fff
}

.codeopration {
    font-size: 13px;
    float: left;
    text-align: center;
    height: 14px;
    width: 16px;
    margin-left: 10px;
    padding-top: 5px;
}

.codeline {
    min-width: 910px;
    width: 100%;
    height: 23px;
    background: #f1efec;
    display: flex;
}

.linenum {
    float: left;
    width: 40px;
    background: #f1efec;
    text-align: center;
    padding: 0 2px 0 2px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
}

.sourcecode {
    float: left;
    height: 100%;
    width: 85%;
    line-height: 20px;
    background-color: #ffffff;
    flex: 1;
}

.middle-right {
    padding: 20px;
    box-sizing: border-box;
    max-width: 370px;
}

.middle-right-item {
    background-color: #fff;
    padding: 15px 10px;
    margin-bottom: 15px;
}

.middle-right-item p {
    display: flex;
}

.panel-left {
    display: block;
    float: left;
    width: 80px;
    text-align: left;
    color: #989898;
}

.panel-right {
    display: block;
    float: left;
    flex: 1;
}

.middle-area {
    flex: 1;
}

.des {
    margin-top: 15px;
}

.des span {
    display: block;
    float: left;
    padding: 0px 4px;
    background-color: #E5F6FF;
    border-radius: 2px;
    margin-right: 5px;
    height: 24px;
    line-height: 24px;
    color: #68B7FF;
    font-size: 12px;
}

.hot-qus {
    display: flex;
    list-style-type: none;
    color: #989898;
    margin-bottom: 8px
}

.hot-qus a {
    display: block;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hot-qus span {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #EAEAEA;
    float: left;
}

/* 提交评论框 */

#commentPanel {
    position: absolute;
    right: 30px;
    width: 340px;
    top: 60px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 15px 0px;
    max-height: 600px;
    overflow-y: auto;
}

.loadCommentpanel-back, .loadQuestionpanel-back {
    position: fixed;
    width: 100%;
    left: 0;
    top: 20px;
    height: 100%;
    z-index: 10000;
    display: none;
}

.pr {
    position: relative;
}

/* 评论显示内容 */

.commentparthalf {
    border-bottom: 1px solid #eee;
    padding: 10px 0px
}

.commentparthalf:last-child {
    border: none;
}

.parthalf_con {
    border-bottom: 1px solid #eee;
    padding: 0px 20px;
}

.parthalf_comment {
    padding-left: 20px;
}

.comment_item {
    border-bottom: 1px solid #eee;
    padding-right: 20px;
}

.thumbsThis {
    text-decoration: none!important;
    color: #999!important
}

/* 问题显示 */

#questionPanel {
    width: 700px;
    position: absolute;
    max-height: 500px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    top: 60px;
    border-radius: 4px;
    right: 60px;
}

.ques-title {
    font-size: 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.ques-part {
    padding: 10px 20px;
}

.ques-answer {
    margin: 10px 0px;
}

.ques-answer li {
    list-style-type: none;
    margin-bottom: 5px;
}

.ques-answer li input {
    margin-right: 5px;
}

.ques-part {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.ques-part:last-child {
    border: none;
}

#writeThisanswer {
    height: 100px;
    width: 100%;
    border: 1px solid #eee;
}

.responsePanel {
    padding: 10px 20px;
}
.responseInput {
    border: 1px solid #eee;
    height: 35px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.comments {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    display: flex
}

.comments-right {
    flex: 1;
    margin-left: 15px;
}

.comments-name {
    margin-right: 10px;
    font-size: 14px;
}

.comments-content {
    line-height: 20px;
}

.otherComments {
    background-color: #F4F4F4;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px 0px;
}

.otherComments .comments-content {
    color: #949393
}

.downList-panel {
    cursor: pointer;
}

.downList-panel:hover .downList {
    display: block;
    cursor: pointer;
}

.downList-panel span {
    margin-top: 15px;
    color: #666;
    float: left;
    margin-left: 10px
}

.downList-panel:hover span {
    color: #fff;
}

.downList {
    position: absolute;
    top: 45px;
    background-color: #fff;
    border-radius: 4px;
    width: 120px;
    text-align: center;
    z-index: 6;
    padding: 5px 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    right: 0px;
}

.downList li {
    padding: 0px 10px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
    list-style-type: none;
    cursor: pointer;
}

.downList li:last-child {
    border-bottom: none;
}

.downList li:hover {
    background-color: #fafafa;
}

pre.prettyprint {
    margin: 0;
    border: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.linestatus {
    float: left;
    height: 20px;
    width: 80px;
    border-left: 1px #000000;
    background-color: #f1efec;
    position: relative;
    padding-top: 2px;
}

/* 输入问题或者注释 */

.put-select {
    border-bottom: 1px solid #eee;
    padding: 0px 10px;
    box-sizing: border-box;
}

.put-select span {
    color: #989898;
    display: block;
    float: left;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    cursor: pointer;
}

.put-select span.active {
    color: #05101a;
}

.addno-panel {
    position: absolute;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    z-index: 1;
    right: 5px;
    top: 27px;
    display: none;
}

.put-content {
    box-sizing: border-box;
}

.put-option {
    border: 1px solid #eee;
    height: 30px;
    width: 150px;
    border-radius: 4px;
}

.put-text {
    width: 96%;
    border: 1px solid #ccc;
    height: 200px;
    margin: 10px;
    box-sizing: border-box;
}

.submit {
    color: #fff!important;
    background: #33A6D6;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    display: block;
    box-sizing: border-box;
    width: 60px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.annonums {
    font-size: 13px;
    float: left;
    text-align: center;
    background-image: url(../image/annotation.png);
    background-size: 100% 100%;
    height: 14px;
    width: 16px;
    cursor: pointer;
}

.questionnums {
    font-size: 13px;
    float: left;
    text-align: center;
    width: 10px;
    background-image: url(../image/question.png);
    background-size: 100% 100%;
    height: 12px;
    cursor: pointer;
}

.show-info-panel {
    position: relative;
}

.close-right {
    position: absolute;
    ;
    left: 15px;
    top: 18px;
    color: #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.right-name {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 10px 0px
}

.showinfo {
    background: #5B9BD5;
    border-bottom: 1px solid #374e5d;
}

.showinfo:first-child {
    border-radius: 4px 4px 0px 0px;
}

.showinfo:last-child {
    border: none;
    border-radius: 0px 0px 4px 4px;
}

.plusnum {
    width: 15%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.plusnum .up {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #8c8686;
    margin-bottom: 2px;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.plusnum .down {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #8c8686;
    margin-top: 2px;
    cursor: pointer;
}

.plusnum .up.active {
    border-bottom: 12px solid #21323D;
}

.plusnum .down.active {
    border-top: 12px solid #21323D;
}

.question-count {
    display: block;
    font-size: 20px
}

.allinfo {
    width: 85%;
    text-align: left;
    color: #fff;
    box-sizing: border-box;
    border-left: 1px solid #374e5d;
}

.info-p {
    border-bottom: 1px solid #374e5d
}

.info-p span {
    margin-left: 5px;
}

.info-p a {
    color: #fff!important;
}

.allinfo p {
    padding: 0px 10px;
}

.info-content {
    min-height: 50px;
}

.comment-item {
    border-bottom: 1px solid #374e5d;
    text-align: justify;
    font-size: 13px;
}

.comment-name {
    font-size: 12px;
    text-align: right;
}

.comment-name a {
    color: #fff!important;
}

.comment-btn {
    padding: 5px 20px 0px 0px;
    text-align: right;
}

.btn {
    color: #fff!important;
    padding: 3px 10px;
    background-color: #ccc;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none!important;
}

.btn-blue {
    background-color: #3DC6FF;
}

.writetext {
    width: 100%;
    height: 80px;
    border: 1px solid #eee;
    margin: 8px 0px;
}

.option-panel span {
    display: block;
    width: 100%;
    padding-left: 3px;
    box-sizing: border-box;
}

.option-panel span input {
    float: left;
    margin-top: 8px;
    margin-right: 5px;
    cursor: pointer;
}

.commitanswer {
    padding: 5px!important;
    box-sizing: border-box;
    border-top: 1px solid #374e5d;
    border-bottom: 1px solid #374e5d
}

.showanswer {
    float: right;
    margin-right: 5px
}

.addanno {
    font-size: 16px;
    width: 30%;
    float: right;
    text-align: center;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.addanno:hover {
    color: #2398e4
}

.tags {
    margin-left: 30px;
}

.def {
    margin-left: 60px;
}

.trangle-op {
    position: absolute;
    top: -6px;
    right: 10px;
    border: 1px solid #ccc;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #fff;
    border-right: none;
    border-bottom: none;
}

.trangle-down {
    position: absolute;
    bottom: -6px;
    right: 10px;
    border: 1px solid #ccc;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #fff;
    border-top: none;
    border-left: none;
}

.none {
    display: none;
}

/* path_info页面--------------------------------------------- */

.path_info {
    padding: 20px;
    box-sizing: border-box;
}

.filePathInfo {
    background-color: #fff;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}

.filePathline {
    margin-bottom: 10px;
}

.filePathline:last-child {
    margin-bottom: 0px
}

.filePathline span {
    display: block;
    float: left;
    width: 33%;
    text-align: left;
}

.filePathline span label:first-child {
    display: block;
    float: left;
    min-width: 110px;
    font-weight: normal;
}

.filePathline span label:last-child {
    margin-left: 15px;
    color: #9A9A9A;
    font-weight: normal;
}

.info-nav {
    display: block;
    float: left;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.info-nav.active {
    color: #5CCBFE;
}

.ver-line {
    display: block;
    float: left;
    width: 1px;
    height: 10px;
    background-color: #CDCDCD;
    margin-top: 16px;
}

.fileinfo-item:first-child span {
    font-size: 16px;
    color: #343434
}

.fileinfo-item span {
    color: #9A9A9A
}

.navbar-right {
    margin-right: 0px!important;
}

/* nav-right */

.navbar-right {
    margin-right: 0px!important;
}

/* tab */

.tab_head {
    background-color: #CBCBCB;
    width: 100%;
}

.tab_item {
    float: left;
    padding: 0px 10px;
    font-size: 14px;
    list-style-type: none;
    position: relative;
}

.tab_item.active a:first-child {
    color: #3DC6FF!important;
}

.tab_item:hover {
    background-color: #ccc
}

.tab_item:after {
    content: '';
    position: absolute;
    top: auto;
    right: 1px;
    width: 1px;
    height: 20px;
    background-color: #EAEAEA;
    bottom: 4px;
}

.tab_item a {
    text-decoration: none;
    color: #333!important;
    float: left;
}

.tab_item a:last-child {
    margin: 2px 0px 0px 5px;
    width: 10px;
}

.tab_head_more {
    list-style-type: none;
    width: 50px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.tab_head_more:hover {
    background-color: #e0dfdc;
}

.tab_head_more:hover .tab_nav_ul {
    display: block;
}

.tab_nav_ul {
    display: none;
    position: absolute;
    top: 28px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0px;
    z-index: 111;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.tab_nav_ul li {
    list-style-type: none;
    min-width: 110px;
    padding: 3px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
}