<div class="statscontainer stat-container">
  <div class="views">
    <div class="viewsnum">
      {{ stat_obj.views }}
    </div>
    <div class="items">
     views
    </div>
  </div>
  <div class="views" title="votes">
    <div class="viewsnum">
       {{  stat_obj.vote }}
    </div>
    <div class="items">
      votes
    </div>
  </div>
  <div class="views" >
    <div class="viewsnum">
      {{  stat_obj.issue_num }}
    </div>
    <div class="items">
      questions
    </div>
  </div>

  <div class="views">
    <div class="viewsnum">
      {{  stat_obj.anno_num }}
    </div>
    <div class="items">
      annotations
    </div>
  </div>
</div>